@import "./base.css";

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--font-color);
}

/* 背景 */

.background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("./hero-dark@90.dba36cdf.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#panel-scoop {
    background-image: url(./background.svg);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* 标题 */

header {
    transition: all 1s;
    min-width: 0%;
    background-color: rgba(var(--header-color), 0);
}

.title {
    transition: 1s font-size;
    font-size: 5rem;
}

#panel-scoop:not([open-panel="describe"]) .title {
    font-size: 2rem;
}

/* 主要内容 */

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: flex 1s;
    flex: 0;
}

#panel-scoop:not([open-panel="describe"]) main {
    flex: 1;
}

/* 面板 */
.panel {
    transition: all 1s;
    overflow: hidden;
    height: 0;
    opacity: 0;
}

/* 按钮组 */

.buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    gap: 1em;
}

/* 输入组 */

.labels {
    display: flex;
    gap: 1em;

    label {
        display: inline-flex;
        flex: 1;

        input {
            flex: 1;
        }
    }
}

/* 介绍面板 */

#panel-scoop[open-panel="describe"] #describe {
    height: 5.5em;
    opacity: 1;
}

/* 加密面板 */

#encrypt {
    display: flex;
    flex-direction: column;
    gap: 10px;

    textarea {
        width: 50vw;
        flex: 1;
        resize: none;
    }
}

#panel-scoop[open-panel="encrypt"] #encrypt {
    height: 50vh;
    opacity: 1;
}

/* 加密结果 */

#encrypted-result {
    border: 1px solid white;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#panel-scoop[open-panel="encrypted-result"] #encrypted-result {
    height: 6em;
    opacity: 1;
}

/* 解密面板 */

#decrypted {
    display: flex;
    flex-direction: column;
    max-height: 30vh;
    gap: 10px;
    textarea {
        width: 50vw;
        flex: 1;
        resize: none;
    }
}

#panel-scoop[open-panel="decrypted"] #decrypted {
    height: 50vh;
    opacity: 1;
}

/* 解密结果面板 */

#decrypted-result {
    width: 50vw;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    div {
        flex: 1;
        width: 100%;
        border-radius: 10px;
        border: 2px solid white;
        padding: 3px;
    }
}

#panel-scoop[open-panel="decrypted-result"] #decrypted-result {
    height: 50vh;
    opacity: 1;
}
